.postsMain {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.postsArea {
  width: 750px;
  padding: 10px 10px;
}

.leftPosts {

}

.textArea {

}

.itemName {
  color: blueviolet;
}

.itemName img {
}

.posts {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px 0;
}